@font-face{
    font-family: 'Normalidad';
    src: url(../../fonts/font/NormalidadCompact-Thin.ttf);
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Normalidad';
    src: url(../../fonts/font/NormalidadCompact-Thin_1.ttf);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Normalidad';
    src: url(../../fonts/font/NormalidadCompact-Light.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Normalidad';
    src: url(../../fonts/font/NormalidadCompact-Regular.ttf);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Normalidad';
    src: url(../../fonts/font/NormalidadCompact-Medium.ttf);
    font-weight: 600;
    font-style: normal;
    font-display: swap;

}


@font-face{
    font-family: 'Normalidad';
    src: url(../../fonts/font/NormalidadCompact-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Normalidad';
    src: url(../../fonts/font/NormalidadCompact-Black.ttf);
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}