@font-face{
    font-family: 'Normalidad-thin';
    src: url(../../fonts/font/NormalidadCompact-Thin.ttf);
}

@font-face{
    font-family: 'Normalidad-thin_1';
    src: url(../../fonts/font/NormalidadCompact-Thin_1.ttf);
}

@font-face{
    font-family: 'Normalidad-regular';
    src: url(../../fonts/font/NormalidadCompact-Regular.ttf);
}

@font-face{
    font-family: 'Normalidad-medium';
    src: url(../../fonts/font/NormalidadCompact-Medium.ttf);
}

@font-face{
    font-family: 'Normalidad-light';
    src: url(../../fonts/font/NormalidadCompact-Light.ttf);
}

@font-face{
    font-family: 'Normalidad-bold';
    src: url(../../fonts/font/NormalidadCompact-Bold.ttf);
}

@font-face{
    font-family: 'Normalidad-black';
    src: url(../../fonts/font/NormalidadCompact-Black.ttf);
}