@import 'fonts';
@import 'colors';
@import 'mixins';
@import 'layout';

// Desctop screen
@media screen and (min-width: 993px) {
    .fill_form_title_textMobile {
        display: none;
    }
        .form_validate {
            &_add_file {
                display: none;
            }

            &_mobile_radioTnputs {
                display: none !important;
            }
        }
}

// Tablet screen
@media screen and (max-width: 992px) {
        .fill_form {
            padding: 99px 0 !important;

            .col-6 {
                flex: 0 0 100%;
                max-width: 100%;
            }

            &_title_text {
                font-size: 40px !important;
            }

            .fill_form_title_textMobile {
                display: none;
            }

        .form_validate {
            &_title_text {
                margin-top: 65px !important;
            }
            .btn_submit {
                text-align: start !important;
                margin-top: 82px !important;
            }

            &_add_file {
                display: block;
            }

            &_mobile_radioTnputs {
                display: none !important;
            }
        }
    }
}

// Mobile screen
@media screen and (max-width: 576px) {
    .fill_form {
        padding: 99px 0 !important;

        &_title_text {
            font-size: 28px !important;
            line-height: 35px !important;
        }
        .fill_form_title_textDesctop {
            display: none;
        }
        .fill_form_title_textMobile {
            display: block;
        }
    .form_validate {
        &_title_text {
            margin-top: 47px !important;
        }
        .btn_submit {
            text-align: center !important;
            margin-top: 66px !important;
        }

        &_mobile_radioTnputs {
            display: block !important;
        }

        &_desctop_radioTnputs {
            display: none !important;
        }
        &_add_file {
            .add_file_item_text {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                line-height: 20px;
            }
            .file_info {
                margin-top: 5px !important;
            }
        }
    }
}
}