@import 'fonts';

@mixin flex($items, $content) {
    display: flex;
    align-items: $items;
    justify-content: $content;
}

@mixin flex-column($items, $content) {
    display: flex;
    align-items: $items;
    justify-content: $content;
    flex-direction: column;
}

@mixin text($size, $weight, $color) {
    font-family: 'Normalidad';
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-style: normal;
    font-display: swap;
}

@mixin section($height) {
    width: 1440px;
    height: $height;
    margin: 0 auto;
}