@import 'fonts';
@import 'colors';
@import 'mixins';
@import 'layout';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
    .fill_form {
        padding: 135px 0;
        .btn_back {
            @include text(20px, 300, var(--text-gray-black));     
            @include flex(center, start);
            text-decoration: none;
            line-height: 30px;
            transition: .3s;
            &:hover {
                color: var(--text-primary);
            }
            &_svg {
                margin-right: 18px;
            }
        }
            &_title_text {
                @include text(50px, 300, var(--text-primary)); 
                line-height: 50px; 
                margin-top: 27px; 
            }

        .form_validate {
            &_title_text {
                    @include text(20px, 400, var(--text-secondary));  
                    line-height: 30px;
                    margin-top: 80px;
            }

            &_input_text {
                position: relative;
                margin-top: 50px;
                .input_text {
                    width: 95%;
                    height: 40px;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid var(--text-gray-light);
                    padding-bottom: 10px;
                    @include text(20px, 400, var(--text-secondary));
                    transition: .3s;  

                    &:focus {
                        border-bottom: 1px solid var(--text-primary);
                    }
                }
                .formSetErrorFor {
                    color: var(--text-danger);
                }
                .error{
                    border-bottom: 1px solid var(--text-danger);
                }
                #firstName,
                #lastName,
                #middleName,
                #university,
                #direction {
                    text-transform: capitalize;
                }
                .input_text:focus,
                .input_text:valid {
                    border-bottom: 1px solid var(--text-primary);
                }
                .input_text:focus ~ .input_text_label,
                .input_text:valid ~ .input_text_label {
                    transform: translateY(-25px);
                    font-size: 14px;
                    color: var(--text-primary);
                }

                .input_text_label {
                    position: absolute;
                    left: 0;
                    top: 0;
                    cursor: pointer;
                    @include text(20px, 400, var(--text-gray));
                    transition: .3s; 
                    pointer-events: none;
                    
                    .star {
                        color: var(--text-primary);
                    }
                }   
            }
            .radio_list,
            .check_agree_myFile {
                @include flex-column(start, start);

                .label_radio {
                    margin-top: 32px;
                    @include text(20px, 400, var(--text-secondary));
                    position: relative;
                    @include flex(center, center);
                    cursor: pointer;

                    input[type = 'radio'] {
                        width: 21px;
                        height: 21px;
                        @include flex(center, center);
                        appearance: none;
                        -webkit-appearance: none;
                        border: 1px solid var(--text-gray-light);
                        vertical-align: middle;
                        border-radius: 5px;
                        position: relative;
                        transition: all .5s ease-out;
                        cursor: pointer;
                        margin-right: 17px;
                      }
                      input[type = 'radio']:focus {
                        outline: none;
                      }
                      input[type = 'radio']::after {
                        font-family: 'Font Awesome 5 Free';
                        content: '\f00c';
                        font-weight: 900;
                        font-size: 12px;
                        color: var(--text-third);
                        display: none;
                      }
                      input[type = 'radio']:checked {
                        background-color: var(--text-primary);
                        border: none;
                      }
                      input[type = 'radio']:checked::after {
                        display: block;
                      }
                }
                .check_agree {
                    margin-top: 61px;
                    @include text(16px, 400, var(--text-gray));
                    line-height: 15px;
                }
            }

            .btn_submit {
                text-align: center;
                margin-top: 117px;
                button {
                    width: 170px;
                    height: 40px;
                    border-radius: 40px;
                    border: 1px solid var(--text-primary);
                    @include text(16px, 400, var(--text-primary));
                    background-color: var(--text-third);
                    outline: none;
                    transition: .5s;

                    &:hover {
                        background-color: var(--text-primary);  
                        color: var(--text-third);
                    }
                }
            }

            &_add_file {
                .form_validate_title_text {
                    margin-left: 20px;
                }
                .add_file_item {
                    height: 184px;
                    border: 1px dashed #7D7D7D;
                    border-radius: 5px;
                    margin-top: 38px;
                    @include flex-column(center, center);

                    .file_label {
                        @include text(20px, 400, var(--text-primary));
                        margin-right: 5px;
                    }

                    .file_input {
                        display: none;
                    }

                    .file_label_text {
                        @include text(20px, 300, var(--text-gray));
                    }
                    .file_info {
                        @include text(16px, 300, var(--text-gray));
                        margin-top: -5px;
                    }
                }
                .check_agree_myFile {
                    .check_agree_MyFile {
                        @include text(16px, 400, var(--text-gray));
                        line-height: 15px;
                    }
                }
            }

            &_mobile_radioTnputs {
                label {
                    width: 100%;
                    @include flex(center, start);
                    @include text(20px, 400, var(--text-secondary));
                    line-height: 25px;
                    margin-top: 32px;
                    input {
                        margin-right: 17px;
                    }
                }

                .other_radio {
                    display: flex;
                    align-items: center;
                    margin-top: 32px;
                    div {
                        width: 100%;
                        height: 35px;
                        position: relative;
                    }
                    input[type="radio"] {
                        margin-right: 17px;
                    }
                    .r_input {
                        width: 100%;
                        height: 100%;
                        outline: none;
                        border: none;
                        border-bottom: 1px solid var(--text-gray-light);
                        padding-bottom: 10px;
                        @include text(20px, 400, var(--text-secondary));
                        transition: .3s;  
    
                        &:focus {
                            border-bottom: 1px solid var(--text-primary);
                        }
                    }
                    .r_input:focus,
                    .r_input:valid {
                    border-bottom: 1px solid var(--text-primary);
                }
                .r_input:focus ~ .r_label,
                .r_input:valid ~ .r_label {
                    transform: translateY(-25px);
                    font-size: 14px;
                    color: var(--text-primary);
                }

                .r_label {
                    position: absolute;
                    left: 0;
                    bottom: 10px;
                    cursor: pointer;
                    @include text(20px, 400, var(--text-gray));
                    transition: .3s; 
                    pointer-events: none;
                }   
                }
            }

            .work_item {
                position: relative;
                width: 100%;
                height: 100px;
                margin-top: 60px;
                .work_list {
                    width: 100%;
                    height: 100px;
                    resize: none;
                    border: none; 
                    border-bottom: 1px solid var(--text-gray-light);
                    @include text(20px, 400, var(--text-secondary));
                    transition: .3s;  
                    outline: none;

                    &:focus {
                        border-bottom: 1px solid var(--text-primary);
                    }
                }
                .work_list:focus ~ label,
                .work_list:valid ~ label {
                    transform: translateY(-30px);
                    font-size: 14px;
                    color: var(--text-primary);
                }

                label {
                    position: absolute;
                    left: 0;
                    top: -30px;
                    cursor: pointer;
                    @include text(20px, 400, var(--text-gray));
                    transition: .3s; 
                    pointer-events: none;
                }
            }
            .work_schedule {
              @include flex(center, space-between);
              label {
                 @include flex(center, center);
                 cursor: pointer;
              }
            }
        }
    }


@import 'media'